html {
  font-size: 1em;
  font-family: 'Rampart One', cursive;
}

#page {
  display: grid;
  min-height: 110vh;
  max-height: 110vh;
  grid-template-columns: 3fr 5fr;
  grid-template-rows: 1.7fr 10fr 0.3fr;
  grid-template-areas:
  ". header"
  "options grid-area"
  "footer footer";
  background-color: pink;
}

#header {
  padding-left: 1.3rem;
  grid-area: header;
  height: 57px;
  width: 496px;
  display: flex;
  align-self: center;
}

#options {
  grid-area: options;
  background-color: rgb(241, 241, 241);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 1.5rem;
}

#grid-container {
  grid-area: grid-area;
  padding-top: 2rem;
  padding-left: 1rem;
  background-color: rgb(241, 241, 241);
}

#footer {
  background-color: rgb(241, 241, 241);
  grid-area: footer;
  display: flex;
  justify-content: center;
  padding-bottom: 0.8rem;
}

#grid {
  width: 31rem;
  height: 31rem;
  display: grid;
  border: 1px solid orange;
  box-shadow:0 0 4px orange;
  background-color: white;
}

.button-container {
  padding-top: 2.7rem;
  padding-bottom: 1.7rem;
  max-width: 15rem;
  display: flex;
  flex-direction: column;
}

#color-picker{
  -webkit-appearance: none;
  width: 15rem;
  height: 3.2rem;
  border-radius: 1rem;
  padding: 0.6rem;
  border: 1px solid blueviolet;
  box-shadow: 0 0 4px blueviolet;
}

#color-picker::-webkit-color-swatch-wrapper {
  padding: 0;
}

#color-picker::-webkit-color-swatch {
  border-radius: 0.8rem;
}

#color-picker:hover {
  border: 1px solid rgb(166, 70, 255);
  box-shadow: 0 0 5px rgb(182, 104, 255);
  background-color: rgb(249, 249, 249);
}

button {
  font-family: 'Rampart One', cursive;
  padding: 0.8rem 6rem 0.8rem 6rem;
  margin-top: 1.3em;
  border-radius: 1rem;
  border: 1px solid blueviolet;
  box-shadow: 0 0 4px blueviolet;
  background-color: rgb(245, 245, 245);
}

button:hover {
  border: 1px solid rgb(166, 70, 255);
  box-shadow: 0 0 5px rgb(182, 104, 255);
  background-color: rgb(249, 249, 249);
}

.slidecontainer {
  max-width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.slider {
  -webkit-appearance: none;
  width: 15rem;
  height: 1rem;
  border-radius: 5px;   
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%; 
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

