html {
  font-size: 1em;
  font-family: 'Rampart One', cursive;
}

#page {
  display: grid;
  min-height: 100vh;
  max-height: 100vh;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 0.5fr 1.5fr 10fr 0.5fr;
  grid-template-areas:
  "line line"
  "header header"
  "options grid-area"
  "footer footer";
  background-color: rgb(245, 245, 245);
}

#pink-line {
 background-color: pink;
 grid-area: line;
}

#header {
  display:block;
  font-size: 3rem;
  padding-top: 1rem; 
  grid-area: header;
  justify-content: center;
}

#options {
  grid-area: options;
}

#grid-container {
  /*background-color: rgb(235, 211, 211);*/
  grid-area: grid-area;
}

#footer {
  background-color: coral;
  grid-area: footer;
}

#grid {
  max-width: 500px;
  min-height: 500px;
  display: grid;
  /*grid-gap: 2px;*/
  border: solid orange;
  background-color: white;
}

.square {
  /*background-color: rgb(255, 219, 219);*/
}

.button-container {
  max-width: 15rem;
  display: flex;
  flex-direction: column;
  /*background-color: blueviolet;*/

}

button {
  font-family: 'Rampart One', cursive;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 1em;
}

button:hover {
  border: solid orange;
}

.slidecontainer {
  max-width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider {
  -webkit-appearance: none;
  width: 15rem;
  height: 1rem;
  border-radius: 5px;   
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  border: solid orange;
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%; 
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

